*{
  outline: none
}

#dropbox {
  width: 70%;
  height: 550px;
  border: 3px solid #C4C4C4;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
  margin: 15px 5px;
}

#dropbox p {
  font: 1.5rem/1rem sans-serif;
  opacity: 0.7;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-around;

}

form div:last-child {
  display: flex;
  flex-direction: column;
  width: 22%;
  justify-content: flex-end;
  align-items: center;
  margin: 15px 5px;
}

form div:last-child input[type="submit"] {
  background: #007BFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: white;
  border: 0;
  padding: 15px 15px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.15rem;
}

form div:last-child input[type="submit"]:hover {
  background: #0073ee;
}

form div:last-child select {
  margin: 20px 0 175px 0;
  width: 70%;
}

form div:last-child h3 {
  font: 1.5rem/1.75rem sans-serif;
  color: #353535;
}
#tabs section{
  min-height: 350px;
}

#tabs{
  margin-bottom: 30px;
}

#tabs section{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

#tabs p{
  margin-bottom: 250px;
}

#tabs section > div{
  position: relative;
  width: 20%;
  height: 250px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

#tabs section > div button{
  position: absolute;
  right: 0px;
  top: 4px;
  border: 0;
  background: rgb(238, 238, 238);
  border-radius: 2px;
}

#tabs section > div button:hover{
  background: #007fff;
  color: white;
  transition: 0.1s
}

#tabs section > div > img{
  width: 100%;
  height: auto;
}

#dialog-confirm{
  display: flex;
  justify-content: center;
  align-items: center;
}

#dialog-confirm > div{
  width: 95%;
  margin: auto;
  height: auto;
}

#dialog-confirm > div > img{
  width: 100%;
  height: auto;
}

.ui-widget-overlay{
  opacity: 0.3;
  background: #000
}

.ui-dialog-buttonset > button:hover{
  background: #007fff;
  color: white
}

.ui-dialog{
  width: 600px;
  top: calc(50% - 250px);
  left: calc(50% - 300px);
  z-index: 101;
  position: fixed;
  height: auto;
}
